.fas, .fa {
    cursor: pointer;
}

.popover{
    max-width: 100% !important; /* Max Width of the popover (depending on the container!) */
    z-index: 9999;
}
pre.json-code {outline: 1px solid #ccc; padding: 5px; margin: 5px; max-height: 300px; max-width: 400px; }
pre.json-code .string { color: green; }
pre.json-code .number { color: darkorange; }
pre.json-code .boolean { color: blue; }
pre.json-code .null { color: magenta; }
pre.json-code .key { color: red; }